<div fxLayout="row">
  <mat-toolbar
    class="navbar"
    fxLayout="row"
    fxLayoutAlign="start center">
      <span
        class="navbar-item"
        [routerLink]="['/']"
        [routerLinkActive]="['navbar-item--active']"
        [routerLinkActiveOptions]="{exact:true}">
        Home
      </span>
      <span
        class="navbar-item"
        [routerLink]="['/aboutme/myinfo']"
        [routerLinkActive]="['navbar-item--active']"
        [routerLinkActiveOptions]="{exact:true}">
        About Me
      </span>
  </mat-toolbar>
</div>
