<div
  class="edit-info"
  fxLayout="column"
  fxLayoutAlign="space-between start">

  <form
    [formGroup]="myInfoForm"
    (ngSubmit)="onSubmitInfo()">

    <div
      class="edit-info-list"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      *ngFor="let item of displayedItems">

      <div
        class="edit-info-list--subheading"
        fxFlex="50">
        {{item.name}}

        <button
          type="button"
          mat-stroked-button
          (click)="addHobbies()"
          *ngIf="item.isArray">
          Add Hobby</button>

      </div>
      <div
        fxFlex="50"
        *ngIf="!item.isArray">
        <mat-form-field
          class="edit-info-list--input">
          <mat-label>
            {{item.name}}
          </mat-label>
          <input
            [id]="item.value"
            matInput
            [formControlName]="item.value">
          <mat-error
            *ngIf="item.value === 'name'
            && getFormControl(item.value).hasError('minlength')
            && !getFormControl(item.value).hasError('required')
            && !getFormControl(item.value).hasError('pattern')">
            {{item.name}} should be atleast 4 characters
          </mat-error>

          <mat-error
            *ngIf="item.value === 'name'
            && getFormControl(item.value).hasError('maxlength')
            && !getFormControl(item.value).hasError('required')
            && !getFormControl(item.value).hasError('pattern')">
            {{item.name}} should be maximum of 20 characters
          </mat-error>

          <mat-error
            *ngIf="item.value === 'age'
            && getFormControl(item.value).hasError('min')
            && !getFormControl(item.value).hasError('required')
            && !getFormControl(item.value).hasError('pattern')">
            {{item.name}} cannot be zero or negative
          </mat-error>

          <mat-error
            *ngIf="item.value === 'age'
            && getFormControl(item.value).hasError('max')
            && !getFormControl(item.value).hasError('required')
            && !getFormControl(item.value).hasError('pattern')">
            {{item.name}} cannot be greater than 120
          </mat-error>

          <mat-error
            *ngIf="getFormControl(item.value).hasError('required')">
            {{item.name}} is <strong>required*</strong>
          </mat-error>

          <mat-error
            *ngIf="getFormControl(item.value).hasError('pattern')">
            {{item.value === 'gender' ? 'Please Enter capital M or F only' : item.name + ' is invalid!' }}
          </mat-error>

        </mat-form-field>
      </div>

      <div
        fxFlex="50"
        formArrayName="hobbies"
        *ngIf="item.isArray"
        class="edit-info-list">
        <div
          *ngFor="let hobby of hobbies.controls; let i=index">
          <mat-form-field
            class="edit-info-list--input">
            <mat-label>
              {{item.name + ' - ' + (i +1)}}
            </mat-label>
            <input
              matInput
              [id]="item.value + i"
              [formControlName]="i">
              <mat-error
                *ngIf="hobbies.controls[i].hasError('required')
                && !hobbies.controls[i].hasError('pattern')">
                Hobby - {{(i + 1)}} is <strong>required*</strong>
              </mat-error>

              <mat-error
                *ngIf="hobbies.controls[i].hasError('pattern')">
                Hobby - {{(i + 1)}} is invalid!
              </mat-error>

          </mat-form-field>
          <button
            class="edit-info-list--remove"
            mat-stroked-button
            type="button"
            (click)="removeHobbies(i)">
            X
          </button>
        </div>
      </div>
    </div>
    <div
      class="edit-info-actions"
      fxLayout="row"
      fxLayoutAlign="center center">

      <button
        class="edit-info-actions--update"
        mat-stroked-button
        color="primary"
        type="submit"
        [disabled]="myInfoForm.invalid"
        >
        Update
      </button>

      <button
        class="edit-info-actions--clear"
        mat-stroked-button
        color="primary"
        type="button"
        (click)="onClearInfo()">
        Cancel
      </button>
    </div>
  </form>
</div>
