.myinfo-card {
  box-shadow: none;
  width: 60rem;
  max-height: 100%;
  overflow-y: auto;

  .myinfo-card-heading {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    font-weight: 500;
    margin-bottom: 2.4rem;
  }

  .myinfo-card-list {

    form {
      display: contents;
    }

    .myinfo-card-list-item {
      width: 100%;
      margin-bottom: 3.2rem;
      border-bottom: .1rem solid lightgrey;

      .myinfo-card-list-item--subheading {
        font-weight: 500;

        button {
          margin-left: .5rem;
        }
      }

      .myinfo-card-list-item--remove {
        margin-left: .5rem;
      }
    }

    .myinfo-card-list-actions {
      width: 100%;

      .myinfo-card-list-actions--update {
        margin-right: .5rem;
      }

      .myinfo-card-list-actions--update:disabled,
      .myinfo-card-list-actions--update[disabled] {
        cursor: not-allowed;
      }
    }
  }
}


@media only screen and (max-width: 600px) {

  .myinfo-container .myinfo-card .myinfo-card-list .myinfo-card-list-item .mat-form-field {
    width: 16rem;
  }

  .myinfo-container .myinfo-card .myinfo-card-list .myinfo-card-list-item .myinfo-card-list-item--remove {
    margin: 0 0 .5rem 0;
  }

  .myinfo-container .myinfo-card .myinfo-card-list .myinfo-card-list-item .myinfo-card-list-item--subheading {
    button {
      margin: 0;
      display: block;
      text-align: left;
    }
  }
}
