<div
  class="view-info"
  fxLayout="column"
  fxLayoutAlign="space-between start">
    <div
      class="view-info-list"
      fxLayout="row"
      fxLayoutAlign="space-between center"
      *ngFor="let item of displayedItems">

      <div
        class="view-info-list--subheading"
        fxFlex="50">
        {{item.name}}
      </div>
      <div
        fxFlex="50">
        {{item.isArray && this.myInfo[item.value] ? this.myInfo[item.value].join(', ') : this.myInfo[item.value]}}
      </div>
    </div>
</div>

