.myinfo-container {
  height: 85vh;

  .myinfo-card {
     box-shadow: none;
     width: 60rem;
     max-height: 100%;
     overflow: auto;

    .myinfo-card--heading {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: 2.4rem;
    }

    .myinfo-card-toggle {
      margin-left: 1.6rem;

      mat-icon {
        margin-right: 2rem;
        cursor: pointer;
        color: grey;
      }

      .myinfo-card-toggle--active {
        color: darkturquoise;
      }
    }
  }
}
