<div class="myinfo-container" fxLayout="row" fxLayoutAlign="center center">

  <mat-card class="myinfo-card">
    <div class="myinfo-card-heading">
      My Info
    </div>

      <div class="myinfo-card-list" fxLayout="column" fxLayoutAlign="space-between start">
        <form [formGroup]="myInfoForm" (ngSubmit)="onSubmit()">

          <div
            class="myinfo-card-list-item"
            fxLayout="row"
            fxLayoutAlign="space-between center"
            *ngFor="let item of displayedItems">

            <div class="myinfo-card-list-subheading" fxFlex="50">
              {{item.name}}
              <ng-container *ngIf="item.isArray">
                <button style="margin-left: 5px;" mat-stroked-button (click)="addHobbies()">Add Hobby</button>
              </ng-container>
            </div>
            <div fxFlex="50" *ngIf="!item.isArray">
              <mat-form-field>
                <mat-label class="myinfo-card-list-subheading">{{item.name}}</mat-label>
                <input [id]="item.value" matInput [formControlName]="item.value">
              </mat-form-field>
            </div>

            <div
              fxFlex="50"
              formArrayName="hobbies"
              *ngIf="item.isArray">

              <div *ngFor="let hobby of hobbies.controls; let i=index">
                <mat-form-field>
                  <mat-label>{{item.name + ' - ' + (i +1)}}</mat-label>
                  <input
                    matInput
                    [id]="item.value + i"
                    [formControlName]="i">
                </mat-form-field>
                <button style="margin-left: 5px;" mat-stroked-button (click)="removeHobbies(i)">X</button>
              </div>
            </div>
          </div>
          <div
            class="myinfo-card-list-actions"
            fxLayout="row"
            fxLayoutAlign="center center">
            <button
              mat-stroked-button
              color="primary"
              (click)="editMode = !editMode"
              *ngIf="!editMode">
              Edit
            </button>

            <button
              mat-stroked-button
              color="primary"
              type="submit"
              *ngIf="editMode">
              Update
            </button>

            <button
              mat-stroked-button
              color="primary"
              (click)="editMode = !editMode"
              *ngIf="editMode">
              Cancel
            </button>
          </div>
        </form>
      </div>
  </mat-card>
</div>
